<header class="header">
    <div class="header-container">
        <aside class="header-left">
            <img src="../../assets/logo-camapanha-red-tagline.svg" alt="" />

            <div class="header-left-buttons">
                <button class="header-button" (click)="showLoginForm()">Login</button>
                <button class="header-button" (click)="showRegisterForm()">Cadastre-se</button>
            </div>
        </aside>
    
        <aside class="header-right">
            <img src="../../assets/clouds.png" alt="" />
        </aside>
    </div>
</header>
